# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/
.venv/

# Django
db.sqlite3
*.sqlite3
staticfiles/
media/
*.log

# Secrets
.env
.env.local

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db